In [62]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (from beautifulsoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [63]:
import selenium
# import ipython
import time
import parsel
import csv

import pandas as pd

In [64]:
# import web driver
from selenium import webdriver

In [65]:
#dfr = pd.read_csv('results_file.csv')

In [66]:
import openpyxl

In [67]:
res = openpyxl.load_workbook(filename='results_file.xlsx')
results = res.worksheets[0]

In [68]:
#fr.head(10)

In [69]:
df = pd.read_csv('leads.csv',index_col='ID')

In [70]:
df.head(10)

   FirstName  LastName                 Company
ID
1       Yash    Kamdar  Santa Clara University
2      Harsh   Salekar                 Infosys
3     Udayan  Birajdar  Santa Clara University
4     Tanmay      Wagh  Santa Clara University
5     jayesh     Patil                Ancestry

In [71]:
df['Name']=df['FirstName']+' '+df['LastName']

In [72]:
df.head()

   FirstName  LastName                 Company             Name
ID
1       Yash    Kamdar  Santa Clara University      Yash Kamdar
2      Harsh   Salekar                 Infosys    Harsh Salekar
3     Udayan  Birajdar  Santa Clara University  Udayan Birajdar
4     Tanmay      Wagh  Santa Clara University      Tanmay Wagh
5     jayesh     Patil                Ancestry     jayesh Patil

In [75]:
#query = 'site:linkedin.com/in/'+" " + "Ankur Jain" +" "+ "Rubrik"
#for url in search(query, tld="co.in", num=1, stop=1,pause=5):
  # ankur_url=url
   # print(ankur_url)

In [73]:
names=df["Name"].iloc[:].values
companies=df["Company"].iloc[:].values

In [74]:
from googlesearch import search

In [76]:
# to search 
col_name=1
col_company_name=8
col_person_link=11

for i in range(len(companies)):
    query = 'site:linkedin.com/in/'+" " + names[i] +" "+ companies[i] 
    
    print("Query to search:",query)
    person_name=names[i]
    company_name=companies[i]
    for url in search(query, tld="co.in", num=1, stop=1,pause=5): 
        person_link=url
        print("LinkedIn URL:",person_link)
        results.cell(row=i+2, column=col_name).value = person_name
        results.cell(row=i+2, column=col_company_name).value = company_name
        results.cell(row=i+2, column=col_person_link).value = person_link

Query to search: site:linkedin.com/in/ Yash Kamdar Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/yash-kamdar95
Query to search: site:linkedin.com/in/ Harsh Salekar Infosys
LinkedIn URL: https://in.linkedin.com/in/harsh-salekar-75923a147
Query to search: site:linkedin.com/in/ Udayan Birajdar Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/udayanbirajdar
Query to search: site:linkedin.com/in/ Tanmay Wagh Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/tanmaywagh30
Query to search: site:linkedin.com/in/ jayesh Patil Ancestry
LinkedIn URL: https://www.linkedin.com/in/j-patil

In [77]:
res.save(filename='results_file.xlsx')

In [78]:
%run "parameters.py"

In [79]:
import parameters

In [82]:
# defining new variable passing two parameters
writer = csv.writer(open(parameters.file_name, 'w'))

# writerow() method to the write to the file object
writer.writerow(["Name", "Job_Title","Previous_Job_title","Honors_Awards","Person_Location","College","Qualification", "Company","CompanyIndustry","Founded","Person_URL","Company_URL","Location"])

151

In [97]:
# specifies the path to the chromedriver.exe
driver = webdriver.Chrome('E:\STUDY\Practicum\LinkedIn\chromedriver.exe')

In [98]:
# driver.get method() will navigate to a page given by the URL address
driver.get('https://www.linkedin.com/login?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin')

In [99]:
# locate email form by_class_name
username = driver.find_element_by_id('username')


# send_keys() to simulate key strokes
username.send_keys(parameters.linkedin_username)
# sleep for 0.5 seconds
time.sleep(0.5)

In [100]:
# locate password form by_class_name
password = driver.find_element_by_id('password')

# send_keys() to simulate key strokes
password.send_keys(parameters.linkedin_password)
time.sleep(0.5)

In [101]:

# locate submit button by_id
log_in_button = driver.find_element_by_class_name('login__form_action_container ')

# .click() to mimic button click
log_in_button.click()

In [102]:
data_xls = pd.read_excel('results_file.xlsx', sheet_name='results_file',dtype=str, index_col=None)

In [103]:
data_xls.to_csv('results_file.csv', encoding='utf-8', index=False)

In [104]:
dfr = pd.read_csv('results_file.csv')

In [105]:
dfr.head()

,Name,Job_Title,Previous_Job_title,Honors_Awards,Person_Location,College,Qualification,Company,CompanyIndustry,Founded,Person_URL,Company_URL
0,Yash Kamdar,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara University,NaN,NaN,https://www.linkedin.com/in/yash-kamdar95,NaN
1,Harsh Salekar,NaN,NaN,NaN,NaN,NaN,NaN,Infosys,NaN,NaN,https://in.linkedin.com/in/harsh-salekar-75923...,NaN
2,Udayan Birajdar,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara University,NaN,NaN,https://www.linkedin.com/in/udayanbirajdar,NaN
3,Tanmay Wagh,NaN,NaN,NaN,NaN,NaN,NaN,Santa Clara University,NaN,NaN,https://www.linkedin.com/in/tanmaywagh30,NaN
4,jayesh Patil,NaN,NaN,NaN,NaN,NaN,NaN,Ancestry,NaN,NaN,https://www.linkedin.com/in/j-patil,NaN

In [107]:
# driver.get method() will navigate to a page given by the URL address
links=dfr['Person_URL'].iloc[:].values
links

array(['https://www.linkedin.com/in/yash-kamdar95',
       'https://in.linkedin.com/in/harsh-salekar-75923a147',
       'https://www.linkedin.com/in/udayanbirajdar',
       'https://www.linkedin.com/in/tanmaywagh30',
       'https://www.linkedin.com/in/j-patil'], dtype=object)

In [234]:
# driver.get method() will navigate to a page given by the URL address

In [108]:
from parsel import Selector

In [252]:
# col_name=13
# curr_title=2
# prev_title=3
# j=0;
# test=[]on
# for i in range(len(links)): #Iterate loop for number of links
    
#     driver.get(links[i]) #Landed on LinkedIn profile of the person
#     time.sleep(2.5) #Sleep to show that its not automated
#     text=driver.page_source 
#     sel = Selector(text) 
#     person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
#     #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
#     experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
#     for item in experience:
#         a=item.text.split('\n')
        
#         if(j==0):
#             if "India" not in (a[8]):
#                 titles=a[5])
#                 print(titles)
#                 results.cell(row=i+2, column=curr_title).value = titles
#                 j=j+1
#             else:
#                 titles.append(a[0])
#                 results.cell(row=i+2, column=curr_title).value = titles
#                 j=j+1
                
#         elif(j>1):
#             break
#         else:
#             titles.append(a[0])
#             print(titles)
#             results.cell(row=i+2, column=prev_title).value = titles
#             j=j+1
    
#     if person_location:
#         location = person_location.strip()
#         results.cell(row=i+2, column=col_name).value = person_location

In [281]:
# col_name=13
# curr_title=2
# prev_title=3
# j=0;
# test=[]
# #for i in range(len(links)):
    
# driver.get(ankur_url)
# time.sleep(2.5)
# driver.page_source 
# sel = Selector(text=driver.page_source) 
# person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
# #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
# experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
# for item in experience:
#     a=item.text.split('\n')

#     if(j==0):
#         if "India" not in (a[8]):
#             titles=a[5]
#             print(titles)
#             results.cell(row=20, column=curr_title).value = titles
#             j=j+1
#         else:
#             titles=a[0]
#             results.cell(row=20, column=curr_title).value = titles
#             j=j+1

#     elif(j>1):
#         break
#     else:
#         titles.append(a[0])
#         print(titles)
#         results.cell(row=20, column=prev_title).value = titles
#         j=j+1

# if person_location:
#     location = person_location.strip()
#     results.cell(row=20, column=col_name).value = person_location

In [109]:
res.save(filename='results_file.xlsx')

In [134]:
#title=sel.xpath('//*[starts-with(@class, "visually-hidden")]/span/text()').getall()
#print(title)

[]

In [244]:
print(test)

[]

Yash modified 27th may

In [ ]:
col_name=13
curr_title=2
prev_title=3
j=0;
col_name=2
employer_title=[]
employers=[]
test=['https://www.linkedin.com/in/j-patil']
for i in range(len(test)): #Iterate loop for number of links
    
    driver.get(test[i]) #Landed on LinkedIn profile of the person
    time.sleep(2.5) #Sleep to show that its not automated
    #text=driver.page_source 
    sel = Selector(text=driver.page_source) 
    person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
    #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
    experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
    for item in experience:
        j+=1
        while(j<3):
            print("Experience: ",j)

            a=item.text.split('\n')

            print(a)
    
            
            if(a[0]=="Company Name"):
                print("Employer: ",a[1])
                print('Title: ',a[5])
                employer_title.append(a[1],a[5])
                titles.append(a[5])
                employers.append(a[1])
                results.cell(row=i+2, column=col_name).value = person_name

            else:
                print("Employer: ",a[2])
                print('Title: ',a[0])
                employer_title.append(a[2],a[0])

In [111]:
# # To get past employers
# titles=[]
# experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
# j=0;
# for item in experience:
    
#     print(j)
    
#     a=item.text.split('\n')
    
#     print(a)

        
#     if(a[0]=="Company Name"):
#         print(a[1])
#     else:
#         print(a[2])

In [216]:
print (titles)

Data Scientist Intern