In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (from beautifulsoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium
# import ipython
import time
import parsel
import csv

import pandas as pd

In [3]:
# import web driver
from selenium import webdriver

In [4]:
#dfr = pd.read_csv('results_file.csv')

In [5]:
import openpyxl

In [6]:
res = openpyxl.load_workbook(filename='results_file.xlsx')
results = res.worksheets[0]

In [7]:
#fr.head(10)

In [8]:
df = pd.read_csv('leads.csv',index_col='ID')

In [9]:
df.head(10)

   FirstName  LastName                 Company
ID
1      Ankur      Jain                  Rubrik
2     Shibin   Nambiar                  Rubrik
3      Harsh   Salekar                 Infosys
4     Udayan  Birajdar  Santa Clara University
5     Tanmay      Wagh  Santa Clara University
6     jayesh     Patil                Ancestry
7   Prajakta   Pingale  Santa Clara University
8      Hasan      Khan                Grabango
9     Sherry     Zhang      Levi Strauss & Co.
10     Daria      Saha         Sequoia Capital

In [10]:
df['Name']=df['FirstName']+' '+df['LastName']

In [11]:
df.head()

   FirstName  LastName                 Company             Name
ID
1      Ankur      Jain                  Rubrik       Ankur Jain
2     Shibin   Nambiar                  Rubrik   Shibin Nambiar
3      Harsh   Salekar                 Infosys    Harsh Salekar
4     Udayan  Birajdar  Santa Clara University  Udayan Birajdar
5     Tanmay      Wagh  Santa Clara University      Tanmay Wagh

In [12]:
names=df["Name"].iloc[:].values
companies=df["Company"].iloc[:].values

In [13]:
from googlesearch import search

In [14]:
# to search 
col_name=1
col_company_name=8
col_person_link=11
links=[]
for i in range(len(companies)):
    query = 'site:linkedin.com/in/'+" " + names[i] +" "+ companies[i] 
    
    print("Query to search:",query)
    person_name=names[i]
    company_name=companies[i]
    for url in search(query, tld="co.in", num=1, stop=1,pause=5): 
        person_link=url
        print("LinkedIn URL:",person_link)
        results.cell(row=i+2, column=col_name).value = person_name
        results.cell(row=i+2, column=col_company_name).value = company_name
        results.cell(row=i+2, column=col_person_link).value = person_link
        links.append(person_link)

Query to search: site:linkedin.com/in/ Ankur Jain Rubrik
LinkedIn URL: https://www.linkedin.com/in/ankur-jain-81634914
Query to search: site:linkedin.com/in/ Shibin Nambiar Rubrik
LinkedIn URL: https://www.linkedin.com/in/shibinnambiar
Query to search: site:linkedin.com/in/ Harsh Salekar Infosys
LinkedIn URL: https://in.linkedin.com/in/harsh-salekar-75923a147
Query to search: site:linkedin.com/in/ Udayan Birajdar Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/udayanbirajdar
Query to search: site:linkedin.com/in/ Tanmay Wagh Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/tanmaywagh30
Query to search: site:linkedin.com/in/ jayesh Patil Ancestry
LinkedIn URL: https://www.linkedin.com/in/j-patil
Query to search: site:linkedin.com/in/ Prajakta Pingale Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/prajakta-pingale
Query to search: site:linkedin.com/in/ Hasan Khan Grabango
LinkedIn URL: https://www.linkedin.com/in/hasan-khan-8296b2b2
Query to search: site:linkedin.com/in/ Sherry Zhang Levi Strauss & Co.
LinkedIn URL: https://www.linkedin.com/in/sherry-zhang-6a319785
Query to search: site:linkedin.com/in/ Daria Saha Sequoia Capital
LinkedIn URL: https://www.linkedin.com/in/daria-saha-62095085
Query to search: site:linkedin.com/in/ Xiaolu Zhao IDEAS
LinkedIn URL: https://www.linkedin.com/in/xiaolu-lucy-zhao-a6071742

In [17]:
res.save(filename='results_file.xlsx')

In [18]:
%run "parameters.py"

In [19]:
import parameters

In [20]:
# defining new variable passing two parameters
writer = csv.writer(open(parameters.file_name, 'w'))

# writerow() method to the write to the file object
writer.writerow(["Name", "Job_Title","Previous_Job_title","Honors_Awards","Person_Location","College","Qualification", "Company","CompanyIndustry","Founded","Person_URL","Company_URL","Location"])

151

In [50]:
# specifies the path to the chromedriver.exe
driver = webdriver.Chrome('E:\STUDY\Practicum\LinkedIn\chromedriver.exe')

In [51]:
# driver.get method() will navigate to a page given by the URL address
driver.get('https://www.linkedin.com/login?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin')

In [52]:
# locate email form by_class_name
username = driver.find_element_by_id('username')


# send_keys() to simulate key strokes
username.send_keys(parameters.linkedin_username)
# sleep for 0.5 seconds
time.sleep(0.5)

In [53]:
# locate password form by_class_name
password = driver.find_element_by_id('password')

# send_keys() to simulate key strokes
password.send_keys(parameters.linkedin_password)
time.sleep(0.5)

In [54]:

# locate submit button by_id
log_in_button = driver.find_element_by_class_name('login__form_action_container ')

# .click() to mimic button click
log_in_button.click()

In [26]:
from parsel import Selector

In [27]:
res.save(filename='results_file.xlsx')

In [ ]:
# col_name=13
# curr_title=2
# prev_title=3





# for i in range(len(links)): #Iterate loop for number of links
#     j=0
#     driver.get(links[i]) #Landed on LinkedIn profile of the person
#     time.sleep(2.5) #Sleep to show that its not automated
#     #text=driver.page_source 
#     sel = Selector(text=driver.page_source) 
#     person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
#     #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
#     experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
#     employer_title=[]
#     for item in experience:
#         j+=1
#         if(j==3):
#             break
#         else:
# #             print("Experience: ",j)
#             a=item.text.split('\n') 
            
#             if(a[0]=="Company Name"):
#                 employer_title.append((a[1],a[5]))
#             else:
#                 employer_title.append((a[2],a[0]))
#         print(employer_title)
#     for k in range(len(employer_title)):
#         results.cell(row=i+2, column=curr_title).value = employer_title[0][1]
#         results.cell(row=i+2, column=prev_title).value = employer_title[1][1]

In [100]:
col_name=13
curr_title=2
prev_title=3
test=['https://www.linkedin.com/in/prajakta-pingale/']



for i in range(len(test)): #Iterate loop for number of links
    j=0
    driver.get(test[i]) #Landed on LinkedIn profile of the person
    time.sleep(2.5) #Sleep to show that its not automated
    #text=driver.page_source 
    sel = Selector(text=driver.page_source) 
    person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
    #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
    experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
    employer_title=[]
    print(len(experience))
    for item in experience:
        
        j+=1
        if(j==3):
            break
        else:
#             print("Experience: ",j)
            a=item.text.split('\n') 
            
            if(a[0]=="Company Name"):
                employer_title.append((a[1],a[5]))
            else:
                employer_title.append((a[2],a[0]))
    print(employer_title)
    for k in range(len(employer_title)):
        results.cell(row=i+2, column=curr_title).value = employer_title[0][1]
        results.cell(row=i+2, column=prev_title).value = employer_title[1][1]

0
[]

In [ ]:
res.save(filename='results_file.xlsx')