In [30]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\envs\linkedin\lib\site-packages (from beautifulsoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import selenium
# import ipython
import time
import parsel
import csv

import pandas as pd

In [32]:
# import web driver
from selenium import webdriver

In [33]:
#dfr = pd.read_csv('results_file.csv')

In [34]:
import openpyxl

In [35]:
res = openpyxl.load_workbook(filename='results_file.xlsx')
results = res.worksheets[0]

In [36]:
#fr.head(10)

In [37]:
df = pd.read_csv('leads.csv',index_col='ID')

In [38]:
df.head(10)

   FirstName  LastName                 Company
ID
1      Ankur      Jain                  Rubrik
2     Shibin   Nambiar                  Rubrik
3      Harsh   Salekar                 Infosys
4     Udayan  Birajdar  Santa Clara University
5     Tanmay      Wagh  Santa Clara University
6     jayesh     Patil                Ancestry
7   Prajakta   Pingale  Santa Clara University
8      Hasan      Khan                Grabango
9     Sherry     Zhang      Levi Strauss & Co.
10     Daria      Saha         Sequoia Capital

In [39]:
df['Name']=df['FirstName']+' '+df['LastName']

In [40]:
df.head()

   FirstName  LastName                 Company             Name
ID
1      Ankur      Jain                  Rubrik       Ankur Jain
2     Shibin   Nambiar                  Rubrik   Shibin Nambiar
3      Harsh   Salekar                 Infosys    Harsh Salekar
4     Udayan  Birajdar  Santa Clara University  Udayan Birajdar
5     Tanmay      Wagh  Santa Clara University      Tanmay Wagh

In [41]:
names=df["Name"].iloc[:].values
companies=df["Company"].iloc[:].values

In [42]:
from googlesearch import search

In [43]:
# to search 
col_name=1
col_company_name=8
col_person_link=11
links=[]
for i in range(len(companies)):
    query = 'site:linkedin.com/in/'+" " + names[i] +" "+ companies[i] 
    
    print("Query to search:",query)
    person_name=names[i]
    company_name=companies[i]
    for url in search(query, tld="co.in", num=1, stop=1,pause=5): 
        person_link=url
        print("LinkedIn URL:",person_link)
        results.cell(row=i+2, column=col_name).value = person_name
        results.cell(row=i+2, column=col_company_name).value = company_name
        results.cell(row=i+2, column=col_person_link).value = person_link
        links.append(person_link)

Query to search: site:linkedin.com/in/ Ankur Jain Rubrik
LinkedIn URL: https://www.linkedin.com/in/ankur-jain-81634914
Query to search: site:linkedin.com/in/ Shibin Nambiar Rubrik
LinkedIn URL: https://www.linkedin.com/in/shibinnambiar
Query to search: site:linkedin.com/in/ Harsh Salekar Infosys
LinkedIn URL: https://in.linkedin.com/in/harsh-salekar-75923a147
Query to search: site:linkedin.com/in/ Udayan Birajdar Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/udayanbirajdar
Query to search: site:linkedin.com/in/ Tanmay Wagh Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/tanmaywagh30
Query to search: site:linkedin.com/in/ jayesh Patil Ancestry
LinkedIn URL: https://www.linkedin.com/in/j-patil
Query to search: site:linkedin.com/in/ Prajakta Pingale Santa Clara University
LinkedIn URL: https://www.linkedin.com/in/prajakta-pingale
Query to search: site:linkedin.com/in/ Hasan Khan Grabango
LinkedIn URL: https://www.linkedin.com/in/hasan-khan-8296b2b2
Query to search: site:linkedin.com/in/ Sherry Zhang Levi Strauss & Co.
LinkedIn URL: https://www.linkedin.com/in/sherry-zhang-6a319785
Query to search: site:linkedin.com/in/ Daria Saha Sequoia Capital
LinkedIn URL: https://www.linkedin.com/in/daria-saha-62095085
Query to search: site:linkedin.com/in/ Xiaolu Zhao IDEAS
LinkedIn URL: https://www.linkedin.com/in/xiaolu-lucy-zhao-a6071742

In [44]:
res.save(filename='results_file.xlsx')

In [45]:
%run "parameters.py"

In [46]:
import parameters

In [47]:
# defining new variable passing two parameters
writer = csv.writer(open(parameters.file_name, 'w'))

# writerow() method to the write to the file object
writer.writerow(["Name", "Job_Title","Previous_Job_title","Honors_Awards","Person_Location","College","Qualification", "Company","CompanyIndustry","Founded","Person_URL","Company_URL","Location"])

151

In [48]:
# specifies the path to the chromedriver.exe
driver = webdriver.Chrome('E:\STUDY\Practicum\LinkedIn\chromedriver.exe')

In [49]:
# driver.get method() will navigate to a page given by the URL address
driver.get('https://www.linkedin.com/login?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin')

In [50]:
# locate email form by_class_name
username = driver.find_element_by_id('username')


# send_keys() to simulate key strokes
username.send_keys(parameters.linkedin_username)
# sleep for 0.5 seconds
time.sleep(0.5)

In [51]:
# locate password form by_class_name
password = driver.find_element_by_id('password')

# send_keys() to simulate key strokes
password.send_keys(parameters.linkedin_password)
time.sleep(0.5)

In [52]:

# locate submit button by_id
log_in_button = driver.find_element_by_class_name('login__form_action_container ')

# .click() to mimic button click
log_in_button.click()

In [53]:
from parsel import Selector

In [54]:
res.save(filename='results_file.xlsx')

In [62]:
col_name=13
curr_title=2
prev_title=3





for i in range(len(links)): #Iterate loop for number of links
    j=0
    driver.get(links[i]) #Landed on LinkedIn profile of the person
    time.sleep(2.5) #Sleep to show that its not automated
    #text=driver.page_source 
    sel = Selector(text=driver.page_source) 
    person_location = sel.xpath('//*[starts-with(@class, "t-16 t-black t-normal inline-block")]/text()').extract_first()
    #title=sel.xpath('//*[starts-with(@class, "t-14 t-black t-bold")]/text()').extract_first()
    experience = driver.find_elements_by_css_selector('#experience-section .pv-profile-section')
    employer_title=[]
    for item in experience:
        j+=1
        if(j==3):
            break
        else:
#             print("Experience: ",j)
            a=item.text.split('\n') 
            
            if(a[0]=="Company Name"):
                employer_title.append((a[1],a[5]))
            else:
                employer_title.append((a[2],a[0]))
        print(employer_title)
    for k in range(len(employer_title)):
        results.cell(row=i+2, column=curr_title).value = employer_title[0][1]
        results.cell(row=i+2, column=prev_title).value = employer_title[1][1]

['Staff Data Engineer', 'Company Name', 'Rubrik, Inc. Full-time', 'Dates Employed', 'Oct 2018 – Present', 'Employment Duration', '1 yr 8 mos', 'Location', 'Palo Alto, California', 'Architected and built ground up a Data Platform to cater to the following needs:', '1. Repository for all Product Telemetry data, Customer Interaction data, Business Transaction Data', '2. Provide compute and query capability to merge, transform and aggregate data', '3. Build data driven internal automation applications for purposes ranging from Notifications to Auto Provisioning of resources on demand', '4. Extract and present business Intelligence from the data to provide greater visibility across the business functions', '5. Support ML/AI use cases like Opportunity Scoring, Lead Scoring, Inventory Management etc.', '6. Enable self serve reporting and data ingestion', '7. Establish user profiles and enable data level and content level security across the platform', '8. Enable API driven architecture for data consumption on the Mobile Platform and expandable to applications beyond.', '', 'Data Store: Snowflake, AWS S3', 'Custom Data Integration: Python and Shell Scripting.', 'Data Pipelines created using Python and Shell Wrapper. Re-usable libraries written for S3 read-writes, Snowflake Bulk Loads, RDB reads, RestAPI reads, etc.', 'Package Integration Solution: Fivetran for Enterprise Applications with large object list like SFDC, Netsuite, etc.', 'BI: Tableau Online', 'Compute Platform: Elastic Compute, Kubernetes and Containers.', 'AWS EC2, Amazon EKS, Amazon ECS, AWS Lambda', 'Dev Tools: Github, DataGrip, JIRA', 'Data Transformation: SQL based DB Views, Python wrapper scripts to batch trigger data materialisation', 'Security: Row level Data security on Tableau, Tableau Content/Project level security via User Groups, DB Compute and Data Store Allocation based on DB Roles, Okta Auth for Snowflake and Tableau', '…', 'see more']
[('Rubrik, Inc. Full-time', 'Staff Data Engineer')]
['Company Name', 'VMware', 'Total Duration', '4 yrs 2 mos', 'Title', 'Senior Data Engineer', 'Full-time', 'Dates Employed', 'Oct 2017 – Oct 2018', 'Employment Duration', '1 yr 1 mo', 'Location', 'Palo Alto, California', 'EDW for CPBU SaaS.', '', 'Data Store: Amazon Redshift, AWS S3', 'BI: ModeAnalytics, Tableau', 'Data Integration: Python Scripts, Segment.ai', 'Compute: AWS EC2, AWS Lambda', 'CD/CI Tools: Github, ECR, Custom Python based script to do code Merge, Compile and Deploy', 'Other Services: AWS SNS, AWS SQS', '', 'Features:', '1. Automated SRE Notification Services to Customers on Planned Maintenance using HTML Templates, SQS, SNS and SQL based API services', '2. Customer 360 view. Lead to Service Consumption to Churn.', '3. ML/AI based Automation: Capacity Planning and Resource Allocation Prioritisation', '4. Post Purchase Adoption and Consumption reporting', '5. Up/Cross Sell Opportunities', '6. Funnel Conversions from Lead to Bookings to identify and optimise process and improve execution', '7. Uptime, Error Metrics to gauge Service Quality', '…', 'see more', 'Title', 'Sr Application Developer', 'Full-time', 'Dates Employed', 'Sep 2014 – Oct 2017', 'Employment Duration', '3 yrs 2 mos', 'Location', 'Palo Alto, California', '- EDW on SAP HANA', 'Ground up build of Custom SAP HANA EDW solution with Virtual Data Models created across subject areas. Multilevel and complex node built keeping single source of truth for all kinds of reporting. Models were built with a lot of thought put into the designs first, for optimum performance and query pruning.', 'Implemented data level security implementation based on user roles and their data auth set across dimensional values and levels. BI using SAP Business Objects and Tableau.', '', '- Enterprise Data Warehouse Migration from Informatica-Oracle to GPSQL-Greenplum', 'This was a mammoth project to completely migrate the EDW from Oracle DB to Greenplum DB in a span of 10months time, design to production.', 'Extraction/Workflow: Informatica, Transformation: GPSQL, Datastore: Greenplum', '', '- Subscription Services Reporting', 'Monthly Recurring Revenue Reporting', 'Customer Churn Reporting', 'Trial to Purchase Conversions', '', '- Sales Planning Reporting', 'Link customer data within Salesforce to EBS', 'Implement categorization rules on Bookings.', "Created a custom solution for Categorization rules to be defined on IBM-ODM. Run extractions on ODM to consume the rules, transform to SQL's and apply to millions of records multiple times a day.", 'Designed single OBIEE RPD model for Pipeline-Booking-Targets-Commisions.', 'Provide centralized data to Anaplan for Sales Planning and Quota and consume from Anaplan for all Operational Reporting.', '', '- Sales Mobile Application', 'Provide a near real-time Customer Relationship with VMware to Salesreps on the move', 'Mobile Platform built on top of Elasticsearch', 'Continuous data flow of Pipelines, Support Cases and Real time Customer Bookings', '…', 'see more']
[('Rubrik, Inc. Full-time', 'Staff Data Engineer'), ('VMware', 'Senior Data Engineer')]

In [56]:
res.save(filename='results_file.xlsx')